<label class="goal_active_toggle switch <%= goal.active ? "toggle_on" : "toggle_off" %>" data-url="<%= set_active_goal_path(goal) %>">
  <input type="checkbox" <%= "checked=\"true\"" if goal.active %> />
  <div class="slider round"></div>
  <span class="active_status_text"></span>
</label>
