<li id="<%= dom_id(goal) %>" class="inactive_goal goal">
  <%= link_to goal do %>
    <span class="goal-name"><%= goal.name %></span>
    <span class="goal-frequency"><%= "#{goal.frequency}x per week" %></span>
  <% end %>
  <label class="goal_active_toggle switch">
    <input type="checkbox">
    <div class="slider round"></div>
  </label>
</li>
