<h1>Inactive Goals</h1>

<ul class="goals_list">
  <% if @goals.empty? %>
    <li>You have no previous goals.</li>
  <% else %>
    <% @goals.each do |goal| %>
      <%= render partial: "inactive_goal", locals: { goal: goal } %>
    <% end %>
  <% end %>
</ul>
