<h1>My Weekly Goals</h1>

<ul id="my_goals_list">
  <%= render @goals %>
</ul>
<%= link_to "Add New Goal", new_goal_path, class: "btn btn-default", remote: true %>
<%= link_to "Inactive Goals", inactive_goals_path %>
