@import "bootstrap";

$goal_bg: #337ab7;
$goal_didit: #5cb85c;
$inactive_goal_bg: #aaa;

.goals_list {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.goals_list li.goal {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}


.goals_list li.goal > a {
  @include clearfix;

  padding: 8px 10px;
  border: 1px solid #aaa;
  display: block;
  margin-right: 60px;
  border-radius: 20px 0 0 20px;
  background: $goal_bg;
  color: #fff;
  text-decoration: none;

}
.goals_list li.goal > a:hover {
  background: darken($goal_bg, 5%);
  text-decoration: none;
}

#weekly_goals_list li.completed-goal > a {
  background: $goal_didit;

  transition: background 2s ease;
  -webkit-transition: background 2s ease;
}
#weekly_goals_list li.completed-goal > a:hover {
  background: darken($goal_didit, 5%);
}

#weekly_goals_list .complete_now_button {
  height: 100%;
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  border-radius: 0 20px 20px 0;
  border: 0;
  background: $goal_didit;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
#weekly_goals_list .complete_now_button:hover {
  background: darken($goal_didit, 5%);
}

.goals_list .goal .goal-name {
  width: 200px;
  display: block;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 120%;
}

#weekly_goals_list .goal .completion_count {
  display: block;
  float: right;
}


.goals_list li.inactive_goal > a {
  background: $inactive_goal_bg;
  margin-right: 0;
  border-radius: 20px;
}
.goals_list li.inactive_goal > a:hover {
  background: darken($inactive_goal_bg, 5%);
}


.inactive_goal .switch {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
}
.goal_active_toggle .active_status_text::before {
  position: absolute;
  font-size: 10px;
  letter-spacing: 1.5px;
  top: 50%;
  transform: translateY(-50%);
}
.goal_active_toggle.toggle_off .active_status_text::before {
  color: rgba(0, 0, 0, 0.3);
  content: "OFF";
  right: 5%;
}
.goal_active_toggle.toggle_on .active_status_text::before {
  color: rgba(255, 255, 255, 0.6);
  content: "ON";
  left: 12%;
}



.goal-show h3 {
  position: relative;
  padding-left: 70px;
  margin: 10px 0px 20px;
}

.goal-show h3 .goal_active_toggle {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.goal-description {
  border: 3px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
  font-size: 1.2em;
}
