@import "bootstrap";

$goal_bg: #337ab7;
$goal_didit: #5cb85c;

#my_goals_list {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

#my_goals_list li.goal {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}

#my_goals_list li.goal > a {
  @include clearfix;

  padding: 8px 10px;
  border: 1px solid #aaa;
  display: block;
  margin-right: 60px;
  border-radius: 20px 0 0 20px;
  background: $goal_bg;
  color: #fff;
  text-decoration: none;

  transition: background 2s ease;
  -webkit-transition: background 2s ease;
}
#my_goals_list li.goal > a:hover {
  background: darken($goal_bg, 5%);
  text-decoration: none;
}

#my_goals_list li.completed-goal > a {
  background: $goal_didit;
}
#my_goals_list li.completed-goal > a:hover {
  background: darken($goal_didit, 5%);
}

#my_goals_list .complete_now_button {
  height: 100%;
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  border-radius: 0 20px 20px 0;
  border: 0;
  background: $goal_didit;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
#my_goals_list .complete_now_button:hover {
  background: darken($goal_didit, 5%);
}

#my_goals_list .goal .goal-name {
  width: 200px;
  display: block;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 120%;
}

#my_goals_list .goal .completion_count {
  display: block;
  float: right;
}
