$mindfulness-color: rgba(255, 0, 255, 1);
$physically-active-color: rgba(0, 0, 255, 1);
$happiness-color: rgba(255, 0, 0, 1);
$diet-color: rgba(255, 255, 0, 1);
$mentally-active-color: rgba(0, 255, 55, 1);
$socially-active-color: rgba(255, 200, 55, 1);

#modal {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: none;
  top: 0;
  left: 0;
}
#modal-background {
  height: 100%;
  width: 100%;
  z-index: 100;
}

#modal-content {
  background: #fff;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 380px;
  width: 60%;
  border: 1px solid #999;
  border-radius: 12px;
  z-index: 120;
}

.range-selector {
  padding: 10px 0;
  text-align: center;
}
.range-selector button {
  display: inline-block;
  width: 20%;
}

#status_graph_wr {
  width: 100%;
}

#status_graph {
  background: #000;
  border: 1px solid #666;
}


#status_graph_legend {
  padding: 10px;
  background: #f6f6f6;
  border: 1px solid #bbb;
}
#status_graph_legend label {
  color: #666;
  display: inline-block;
  margin: 10px 50px 10px 0;
  cursor: pointer;
}
#status_graph_legend input[type="checkbox"] {
  height: 17px;
  width: 17px;
  vertical-align: middle;
  margin-left: 3px;
  cursor: pointer;
}
#status_graph_legend label::before {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  border: 1px solid #999;
  content: ' ';
  display: inline-block;
  margin: 0px 5px 0 0px;
  vertical-align: text-bottom;
}

label.show-mindfulness::before {
  background: $mindfulness-color;
}
label.show-physical_activity::before {
  background: $physically-active-color;
}
label.show-happiness::before {
  background: $happiness-color;
}
label.show-diet::before {
  background: $diet-color;
}
label.show-mental_activity::before {
  background: $mentally-active-color;
}
label.show-social_activity::before {
  background: $socially-active-color;
}

.status-history-period h3 {
  cursor: pointer;
}
.status-history-period .status-history-statuses {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.health_status {
  overflow: hidden;
  height: 60px;
  border: 1px solid #aaa;
  position: relative;
  margin: 8px;
  border-radius: 5px;
}

.health_status .health_status_statuses,
.health_status .health_status_created_at {
  float: left;
}

.health_status .health_status_created_at {
    font-size: 1.2em;
    margin: 18px;
}
.health_status .actions {
  float: right;
  padding: 10px;
}

.health_status .health_status_statuses {
  height: 50px;
  position: relative;
  padding: 5px;
  margin-left: 20px;
  width: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  background: #f6f6f6;
}
.health_status .health_status_statuses div {
  display: block;
  float: left;
  width: 8px;

  position: absolute;
  bottom: 0;
  background: #eee;
  border: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
}
.health_status .health_status_statuses div.mindfulness_status {
  background: $mindfulness-color;
  left: 0;
}
.health_status .health_status_statuses div.physically_active_status {
  background: $physically-active-color;
  left: 10px;
}
.health_status .health_status_statuses div.happiness_status {
  background: $happiness-color;
  left: 20px;
}
.health_status .health_status_statuses div.diet_status {
  background: $diet-color;
  left: 30px;
}
.health_status .health_status_statuses div.mentally_active_status {
  background: $mentally-active-color;
  left: 40px;
}
.health_status .health_status_statuses div.socially_active_status {
  background: $socially-active-color;
  left: 50px;
}
.health_status .health_status_statuses div.status-10 {
  height: 100%;
}
.health_status .health_status_statuses div.status-9 {
  height: 90%;
}
.health_status .health_status_statuses div.status-8 {
  height: 80%;
}
.health_status .health_status_statuses div.status-7 {
  height: 70%;
}
.health_status .health_status_statuses div.status-6 {
  height: 60%;
}
.health_status .health_status_statuses div.status-5 {
  height: 50%;
}
.health_status .health_status_statuses div.status-4 {
  height: 40%;
}
.health_status .health_status_statuses div.status-3 {
  height: 30%;
}
.health_status .health_status_statuses div.status-2 {
  height: 20%;
}
.health_status .health_status_statuses div.status-1 {
  height: 10%;
}
.health_status .health_status_statuses div.status-0 {
  height: 2%;
}
